
@{
    ViewBag.Title = "NotLoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sie sind nicht angemeldet.</h2>

<div>
    Bitte <a href="/Account/Login">melden</a> Sie sich an oder <a href="/Account/Register">registrieren</a> Sie sich um diese Seite anzeigen zu können.
</div>

