@model TauschMarkt.Models.Artikel

@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/form.css" rel="stylesheet" />
<h2>Bearbeiten Sie das Produkt.</h2>

<form id="add-form" class="pure-form" action="/Product/UpdateArtikel">
    <input type="hidden" value="@Model.id" name="id" />
    <table>
        <tr>
            <td>Name</td>
            <td><input id="Name" name="name" type="Text" value="@Model.Name"/></td>
        </tr>

        <tr>
            <td>Preis</td>
            <td><input id="Preis" name="preis" type="text" value="@Model.Preis"/></td>
        </tr>

        <tr>
            <td>Beschreibung<span width="3px"></span></td>
            <td><input id="beschreibung" name="beschreibung" type="text" value="@Model.beschreibung"/></td>
        </tr>


    </table>
    <input id="senden" value="Save" type="submit" />


    <div id="seas"></div>
</form>


