@model TauschMarkt.Models.Artikel


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                            <img src="/Home/ProductPicture/?id=@Model.id" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">$@Model.Preis</h4>
                    <h4>
                        <a href="#">@Model.Name</a>
                    </h4>
                    <p>@Model.beschreibung</p>
                </div>
                
            </div> 
        </div>
        <div class="col-md-3">

        </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <form id="add-form" class="pure-form">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td><input id="Name" name="name" type="Text" /></td>
                            </tr>

                            <tr>
                                <td>Nachricht an Verkäufer: </td>
                                <td><textarea id="nachricht" name="nachricht" type="Text" cols="40" rows="5"></textarea></td>
                            </tr>


                        </table>
                        <input id="senden" value="Save" type="button" />
                </div>
                
        </div>
        
    </div>
</div>