@model List<TauschMarkt.Models.Artikel>

<h2>MeinTauschmarkt</h2>

@if((Boolean)Session["isLoggedIn"])
{


<h3>@ViewBag.logedInUser</h3>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="imageseas"><img class="thumbnailimg" src="/Home/ProductPicture/?id=@item.id" alt=""></div>
                <div class="caption">
                    <h4 class="pull-right">€@item.Preis</h4>
                    <h4>
                        <a href="/Product/ShopItem/?id=@item.id">@item.Name</a>
                    </h4>
                    <p>@item.beschreibung</p>
                </div>
                <a href="/Product/EditItem/@item.id" class="btn btn-success btn-sm">Produkt bearbeiten</a>
                <a href="/Product/DeleteItem/@item.id" class="btn btn-danger btn-sm" onclick="return confirm('Möchtest du das Produkt wirklich löschen? \n\nFür Ja (Löschen) = OK Klicken \nFür Nein (nicht löschen) = Abbrechen klicken\n\n')">Produkt löschen</a>  
            </div>
            
        </div>
    }
</div>
}
else
{
   <h2>Nicht Angemeldet</h2>
}