@model List<TauschMarkt.Models.Artikel>
<script src="~/Scripts/peter.js"></script>
<h2>Mein Tauschmarkt</h2>

<h3>@ViewBag.logedInUser</h3>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img id="productpic" src="/Home/ProductPicture/?id=@item.id" alt="" onerror="loadPicError()">
                <div class="caption">
                    <h4 class="pull-right">€@item.Preis</h4>
                    <h4>
                        <a href="/Product/ShopItem/?id=@item.id">@item.Name</a>
                    </h4>
                    <p>@item.beschreibung</p>
                </div>
                <a href="/Product/EditItem/?id=@item.id" class="btn btn-success btn-sm">Produkt bearbeiten</a>
                <a href="/Product/DeleteItem/?id=@item.id" class="btn btn-danger btn-sm" onclick="return confirm('Möchtest du das Produkt wirklich löschen? \n\nFür Ja (Löschen) = OK Klicken \nFür Nein (nicht löschen) = Abbrechen klicken\n\n')">Produkt löschen</a>
               

                
            </div>
            
        </div>
    }
</div>